<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>homeController</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Controller_Login</servlet-name>
        <servlet-class>controller.Authentication.Controller_Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller_Logout</servlet-name>
        <servlet-class>controller.Authentication.Controller_Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller_Register</servlet-name>
        <servlet-class>controller.Account.Controller_Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller_Change_Password</servlet-name>
        <servlet-class>controller.Account.Controller_Change_Password</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller_Change_Information</servlet-name>
        <servlet-class>controller.Account.Controller_Change_Information</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller_Forgot_Password</servlet-name>
        <servlet-class>controller.Account.Controller_Forgot_Password</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller_Home</servlet-name>
        <servlet-class>controller.Controller_Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller_Manager</servlet-name>
        <servlet-class>controller.Controller_Manager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller_Phone</servlet-name>
        <servlet-class>controller.Controller_Phone</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller_FeedbackSystem</servlet-name>
        <servlet-class>controller.Feedback.Controller_FeedbackSystem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller_DeleteFeedbackSystem</servlet-name>
        <servlet-class>controller.Feedback.Controller_DeleteFeedbackSystem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller_EditFeedbackSystem</servlet-name>
        <servlet-class>controller.Feedback.Controller_EditFeedbackSystem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller_Change_PhoneNumber</servlet-name>
        <servlet-class>controller.Account.Controller_Change_PhoneNumber</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller_MailChangePhoneNumber</servlet-name>
        <servlet-class>controller.Authentication.Controller_MailChangePhoneNumber</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller_List_Blog</servlet-name>
        <servlet-class>controller.Blog.Controller_List_Blog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller_Change_Status</servlet-name>
        <servlet-class>controller.Account.Controller_Change_Status</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller_Favourite_House</servlet-name>
        <servlet-class>controller.House.Controller_Favourite_House</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller_Post_Blog</servlet-name>
        <servlet-class>controller.Blog.Controller_Post_Blog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller_Detail_House</servlet-name>
        <servlet-class>controller.House.Controller_Detail_House</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller_History_House</servlet-name>
        <servlet-class>controller.House.Controller_History_House</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller_Change_StatusHistory</servlet-name>
        <servlet-class>controller.Controller_Change_StatusHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller_Post_House</servlet-name>
        <servlet-class>controller.House.Controller_Post_House</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller_Message</servlet-name>
        <servlet-class>controller.Message.Controller_Message</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller_Delete_Message</servlet-name>
        <servlet-class>controller.Message.Controller_Delete_Message</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller_Detail_Blog</servlet-name>
        <servlet-class>controller.Blog.Controller_Detail_Blog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller_Edit_Blog</servlet-name>
        <servlet-class>controller.Blog.Controller_Edit_Blog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller_Delete_Blog</servlet-name>
        <servlet-class>controller.Blog.Controller_Delete_Blog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller_Comment_Blog</servlet-name>
        <servlet-class>controller.Blog.Controller_Comment_Blog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller_Delete_Comment_Blog</servlet-name>
        <servlet-class>controller.Blog.Controller_Delete_Comment_Blog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller_Edit_Comment_Blog</servlet-name>
        <servlet-class>controller.Blog.Controller_Edit_Comment_Blog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller_Manage_Blog</servlet-name>
        <servlet-class>controller.Blog.Controller_Manage_Blog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller_Favourite_Blog</servlet-name>
        <servlet-class>controller.Blog.Controller_Favourite_Blog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller_List_Favourite_Blog</servlet-name>
        <servlet-class>controller.Blog.Controller_List_Favourite_Blog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller_Add_Feedback</servlet-name>
        <servlet-class>controller.Feedback.Controller_Add_Feedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller_Delete_Feedback</servlet-name>
        <servlet-class>controller.Feedback.Controller_Delete_Feedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller_Update_Feedback</servlet-name>
        <servlet-class>controller.Feedback.Controller_Update_Feedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller_TakeListAnswerAsync</servlet-name>
        <servlet-class>controller.Controller_TakeListAnswerAsync</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller_Edit_House</servlet-name>
        <servlet-class>controller.House.Controller_Edit_House</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller_LoginGoogle</servlet-name>
        <servlet-class>controller.Authentication.Controller_LoginGoogle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller_Delete_House</servlet-name>
        <servlet-class>controller.House.Controller_Delete_House</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controller_Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller_Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller_Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller_Change_Password</servlet-name>
        <url-pattern>/changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller_Change_Information</servlet-name>
        <url-pattern>/changeinformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller_Forgot_Password</servlet-name>
        <url-pattern>/forgotpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller_Home</servlet-name>
        <url-pattern>/homeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller_Manager</servlet-name>
        <url-pattern>/manager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller_Phone</servlet-name>
        <url-pattern>/phone</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller_FeedbackSystem</servlet-name>
        <url-pattern>/feedbackforsystem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller_DeleteFeedbackSystem</servlet-name>
        <url-pattern>/deletefeedbacksystem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller_EditFeedbackSystem</servlet-name>
        <url-pattern>/editfeedbacksystem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller_Change_PhoneNumber</servlet-name>
        <url-pattern>/changephonenumber</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller_MailChangePhoneNumber</servlet-name>
        <url-pattern>/mailchangephonenumber</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller_List_Blog</servlet-name>
        <url-pattern>/listblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller_Change_Status</servlet-name>
        <url-pattern>/changeStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller_Favourite_House</servlet-name>
        <url-pattern>/favourites</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller_Post_Blog</servlet-name>
        <url-pattern>/postblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller_Detail_House</servlet-name>
        <url-pattern>/detailhouse</url-pattern>
    </servlet-mapping>
    <!--        <security-constraint>
        <web-resource-collection>
            <web-resource-name>Restricted JSP Pages</web-resource-name>
            <url-pattern>*.jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint/>
    </security-constraint>-->
    <servlet-mapping>
        <servlet-name>Controller_History_House</servlet-name>
        <url-pattern>/historyhouse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller_Change_StatusHistory</servlet-name>
        <url-pattern>/changestatushistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller_Post_House</servlet-name>
        <url-pattern>/posthouse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller_Message</servlet-name>
        <url-pattern>/message</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller_Delete_Message</servlet-name>
        <url-pattern>/deletemessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller_Detail_Blog</servlet-name>
        <url-pattern>/detailblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller_Edit_Blog</servlet-name>
        <url-pattern>/editblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller_Delete_Blog</servlet-name>
        <url-pattern>/deleteblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller_Comment_Blog</servlet-name>
        <url-pattern>/commentblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller_Delete_Comment_Blog</servlet-name>
        <url-pattern>/deletecommentblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller_Edit_Comment_Blog</servlet-name>
        <url-pattern>/editcommentblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller_Manage_Blog</servlet-name>
        <url-pattern>/manageblogs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller_Favourite_Blog</servlet-name>
        <url-pattern>/favouriteblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller_List_Favourite_Blog</servlet-name>
        <url-pattern>/listfavouriteblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller_Add_Feedback</servlet-name>
        <url-pattern>/addFeedBack</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller_Delete_Feedback</servlet-name>
        <url-pattern>/deleteFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller_Update_Feedback</servlet-name>
        <url-pattern>/updateFeedBack</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller_TakeListAnswerAsync</servlet-name>
        <url-pattern>/takeListAnswerSync</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller_Edit_House</servlet-name>
        <url-pattern>/editHouse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller_LoginGoogle</servlet-name>
        <url-pattern>/loginGoogle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller_Delete_House</servlet-name>
        <url-pattern>/deleteHouse</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            600
        </session-timeout>
    </session-config>
</web-app>
